body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3084e4;
    color: black;
   }

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


#btnSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    gap: 40px;
}

li {
    padding-right: 30px;
}

.newgame {
    display: flex;
    justify-content: center;
}

